@import "./tailwind.css";

:root {
  /* drop doen style */
  --ms-border-color-active: #2fa3f7;
  --ms-dropdown-border-color: #2fa3f7;
  --ms-ring-color: none;
  --ms-tag-font-weight: 400;
  --ms-px: 30px;
  --ms-option-bg-selected: #82c3eb;
  --ms-option-bg-selected-pointed: #2fa3f7;
  --ms-radius: 46px;

  /* variables */
  /* --main-color: #3498db; */
  --main-color: #00c2f7;
  --main-color-opacity: #00C2F729;
  /* --main-color: #2fa3f7; */
  --footer-color: #05131e;
  --third-color: #001d34;
  --third-color-opacity: #001d34d2;
  --secondary-color: #153853;
  --trans-color: #d6f5fe;
  --rows-color:#0F426B;

  caret-color: var(--main-color);
}
.multiselect-wrapper {
  height: 50px;
}
body {
  scroll-behavior: smooth;
}

body.light {
  color: #062946;
  background-color: #e7f2f8;

  /* drop doen style */
  --ms-dropdown-bg: #ffffff;
  --ms-bg: #ffffff61;
  --ms-border-color: #b5c4c9;
}
body.dark {
  color: #fff;
  background-color: #062946;

  /* drop doen style */

  --ms-dropdown-bg: #011f37;
  --ms-bg: #011f37;
  --ms-border-color: none;
}
input {
  outline: none !important;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: var(--main-color);
}

::selection {
  color: white;
  background: var(--main-color);
}

.disabled {
  /* cursor: not-allowed;
	opacity: 0.5;
	pointer-events: none; */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* -webkit-appearance: none;
  margin: 0; */
}

/* @media only screen and (max-width: 760px){

	.logo img{
		width: 95px;
	}
} */
.mutli-lines-text {
  /* white-space: pre-line;
    word-break: break-word; */
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--third-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 20px;
}

/* classes */
.freeze {
  overflow: hidden;
}
