@import './tailwind.css';

:root {

  
    /* --primary-clr: #A70000;
    --admin-header-height: 64px;
   */
    /* multiselect select style   */
    /* --ms-tag-bg: #A70000;
    --ms-tag-color: #fff; */
    --ms-border-color-active: #2FA3F7;
    --ms-dropdown-border-color: #2FA3F7;

    --ms-ring-color: none;
  
    /* --ms-tag-radius: 9999px; */
    --ms-tag-font-weight: 400;
    --ms-px: 30px;
    --ms-option-bg-selected: #82c3eb;
    --ms-option-bg-selected-pointed: #2FA3F7;
  
    --ms-radius: 46px;

  --main-color: #2FA3F7;




  --footer-color: #05131E;
  --main-card-color: #001D34;
  --secondary-card-color: #153853;
  --trans-color:#D6F5FE;

  caret-color:var(--main-color)
  
}
.multiselect-wrapper{
  height: 50px;
}
body{

}

body.light {
  color: #062946;
  background-color: #e7f2f8;
  scroll-behavior: smooth;
  --ms-dropdown-bg: #ffffff;
  --ms-bg: #FFFFFF61;
  --ms-border-color: #B5C4C9;


}
body.dark {
  color: #fff;
  background-color: #062946;
  scroll-behavior: smooth;
  --ms-dropdown-bg: #011F37;
  --ms-bg: #011F37;
  --ms-border-color: none;

}
input{
  outline: none !important;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: var(--main-color);
}

::selection {
  color: white;
  background: var(--main-color);
}

.disabled {
  /* cursor: not-allowed;
	opacity: 0.5;
	pointer-events: none; */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* -webkit-appearance: none;
  margin: 0; */
}


/* @media only screen and (max-width: 760px){

	.logo img{
		width: 95px;
	}
} */
.mutli-lines-text {
  /* white-space: pre-line;
    word-break: break-word; */
}




/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--main-card-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 20px;
}

/* classes */
.freeze{
  overflow: hidden;
}